.pswp__button {
	@apply transition bg-black/40 hover:bg-black/50 active:bg-black/60 flex items-center justify-center mr-0 w-12 h-12 !important;
}
.pswp__button--zoom,
.pswp__button--close {
	@apply mt-4 rounded-xl active:scale-90 !important;
}
.pswp__button--zoom {
	@apply mr-2.5 !important;
}
.pswp__button--close {
	@apply mr-4 !important;
}
