---
import Profile from "./Profile.astro";

const className = Astro.props.class;
---

<div class="row-start-3 row-end-4 col-span-2 lg:row-start-2 lg:row-end-3 lg:col-span-1 lg:max-w-[17.5rem] onload-animation">
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
    </div>
    <div class="flex flex-col w-full gap-4 sticky top-4">
        <slot />
    </div>
</div>
