---
import Profile from "./Profile.astro";
import Tag from "./Tags.astro";
import Categories from "./Categories.astro";
import WidgetLayout from "./WidgetLayout.astro";

const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
    </div>
    <div class="flex flex-col w-full gap-4  sticky top-4">
        <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
    </div>
    <div  class="flex flex-col w-full gap-4  sticky top-4 h-20">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5680248525294797"
        crossorigin="anonymous"></script>
       <!-- 边栏 -->
       <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-5680248525294797"
           data-ad-slot="2739844132"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
       <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
       </script>
    </div>
</div>
