---
import Profile from "./Profile.astro";
import Tag from "./Tags.astro";
import Categories from "./Categories.astro";

const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "w-full"]} transition:persist>
    <div class="flex flex-col w-full gap-4 mb-4" transition:animate="none">
        <Profile></Profile>
    </div>
    <div class="flex flex-col w-full gap-4 top-4 sticky top-4" transition:animate="none">
        <Categories></Categories>
        <Tag></Tag>
    </div>
</div>
