---
interface Props {
    name?: string;
}
const props = Astro.props;
const {
    name,
} = Astro.props

---
<div class="pb-4 card-base">
    <div class="font-bold text-lg text-neutral-900 dark:text-neutral-100 transition relative ml-8 mt-4 mb-2
        before:w-1 before:h-4 before:rounded-md before:bg-[var(--primary)]
        before:absolute before:left-[-16px] before:top-[5.5px]">{name}</div>
    <div class="px-4">
        <slot></slot>
    </div>
</div>