---
import Contest from "./contest.vue"
import Layout from "@layouts/Layout.astro"
---
<div id="contest">
    <Contest client:only="vue" />
</div>
<style>
#contest {
    width: 100vw;
    height: 100vh;
}
</style>