---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="首頁">
  <section style="padding: 2rem;">
    <h1>歡迎來到我的學習筆記</h1>
    <p>我記錄了自己在物理研究中學到的基礎知識，也整理了解題過程和程式學習，希望能幫助更多人找到資源！</p>
    <blockquote style="margin-top: 1rem; font-style: italic;">
      「學習的過程，是一段值得珍藏的旅程。」
    </blockquote>
  </section>
</Layout>
