---

---

<div class="card-base max-w-[var(--page-width)] min-h-[72px] rounded-b-none mx-auto flex items-center px-6">
    <div class="text-black/50 dark:text-white/50 text-sm">
        © 2023 Author. All Rights Reserved.
        <br>
        Powered by Vivia
    </div>
</div>