---

import {profileConfig} from "../config";

---

<div class="card-base max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex items-center px-6">
    <div class="transition text-50 text-sm">
        © 2024 {profileConfig.name}. All Rights Reserved.
        <br>
        Powered by <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
    </div>
    <!-- https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral -->
    <div class="flex-1">
        <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank">
            <img src="https://img.undf.top/ob/30ae92be4fe7b38d64ae947f4c046f40.png" alt="又拍云" class="h-6 mx-auto" />
        </a>
    </div>

</div>
