---
interface Props {
  badge?: string;
  url?: string;
  label?: string;
}
const { badge, url, label } = Astro.props;
---
<a href={url} aria-label={label}
   class="btn-plain radius-md w-full h-10 pl-2 pr-2 hover:pl-3 transition flex items-center !justify-between">
  <div class="overflow-hidden text-left whitespace-nowrap overflow-ellipsis">
    <slot></slot>
  </div>
  { badge && (<div class="badge">{badge}</div>) }
</a>
